<nav class="side-menu">

	<ul>
		<li><a href="{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.baseurl }}/introduction.html">Introduction</a></li>
		<li>Resources
			<ul>
			  <li>General
				<ul>
				  <li>Domains
					<ul>
					  <li><a href="{{site.baseurl}}/resources/general/domains/domain_names.html">Domain Names</a></li>
					  <li><a href="{{site.baseurl}}/resources/general/domains/dns.html">DNS</a></li>
					  <li><a href="{{site.baseurl}}/resources/general/domains/mail_alias.html">Mail Forwarding</a></li>
					</ul>
				  </li>
				  <li>Site Details
					<ul>
					  <li><a href="{{site.baseurl}}/resources/general/site_details/account_details.html">Account Details</a></li>
					</ul>
				  </li>
				</ul>
			  </li>
			  <li>Content
				<ul>
				  <li>Blogs
					<ul>
					  <li><a href="{{site.baseurl}}/resources/content/blogs/blog_posts.html">Blog Posts</a></li>
					  <li><a href="{{site.baseurl}}/resources/content/blogs/blog_categories.html">Blog Categories</a></li>
					  <li><a href="{{site.baseurl}}/resources/content/blogs/blog_comments.html">Blog Comments</a></li>
					</ul>
				  </li>
				  <li><a href="{{site.baseurl}}/resources/content/enquires.html">Enquries</a></li>
				  <li><a href="{{site.baseurl}}/resources/content/guestbook.html">Guestbook</a></li>
				  <li><a href="{{site.baseurl}}/resources/content/pages.html">Pages</a></li>
				</ul>
			  </li>
			  <li>Shop
				<ul>
				  <li>Order Management
					<ul>
					  <li><a href="{{site.baseurl}}/resources/shop/order_managment/orders.html">Orders</a></li>
					  <li><a href="{{site.baseurl}}/resources/shop/order_managment/order_products.html">Order Products</a></li>
					</ul>
				  </li>
				  <li>Products and Categories
					<ul>
					  <li><a href="{{site.baseurl}}/resources/shop/products_and_categories/products.html">Products</a></li>
					  <li><a href="{{site.baseurl}}/resources/shop/products_and_categories/categories.html">Categories</a></li>
					</ul>
				  </li>
				  <li><a href="{{site.baseurl}}/resources/shop/discount_codes.html">Discount Codes</a></li>
				</ul>
			  </li>
			</ul>
		</li>
	</ul>

</nav>