// Tables

table {
  width:100%;
}

table {
  border: 1px solid #ccc;
  margin-bottom: 32px;
  text-align: left;
 }

th {
  font-size: 18px;
  font-weight: normal;
  padding: 10px;
  background: #E2DFDF;
  color: #3B3C39;
 }

td {
  padding: 10px;
  background: #EBEBEB;
 }